<link rel="stylesheet" href="/css/accordion.css" />
<script src="accordion.js"></script>

<div id="accordion">
  <button class="accordion">Dashboard</button>
  <div class="panel">
    <% if (user.admin) { %>
    <button id="overview_button" class="link">Overview</button>
    <% } %>
    <button id="tok_dokumentacije" class="link">Document flow</button>
    <button id="dnevnik_naloga" class="link">Main ledger</button>
    <button id="kontni_plan" class="link">Chart of accounts</button>
    <button id="komitenti" class="link">Client list</button>
  </div>

  <button class="accordion">Reports</button>
  <div class="panel">
    <button id="zakljucni" class="link">Closing sheet</button>
    <button id="accordion_zakljucni_trocifren" class="link">
      Closing sheet - 3 digits
    </button>
  </div>

  <button class="accordion">Graphs</button>
  <div class="panel">
    <% if (user.admin) { %>
    <button id="check_data" class="link">Check database</button>
    <% } %>
    <button id="graph_rev_exp" class="link">Revenues & expenses</button>
    <button id="graph_days_due" class="link">Days due</button>
  </div>

  <div class="levi_grafik">
    <!-- render "static/graphs/summerized_claims" %>-->
  </div>

  <script></script>
</div>
