#konto_promet_odabir_modal_background {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aaa;
  opacity: 0.3;
  text-align: center;
}
.konto_promet_odabir_modal_placeholder {
  position: relative;
  margin: 0px auto;
  height: auto;
  width: 550px;
  top: 50px;
  z-index: 101;
  border: 1px solid #c5c5c5;
  padding: 1px;
  outline: 0;
  opacity: 1 !important;
  background-color: #f8f8f8;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#konto_promet_odabir_placeholder {
  position: absolute;
  margin: 0px auto;
  top: 50px;
  width: 100%;
}
#konto_promet_odabir_dijalog {
  background-image: -webkit-linear-gradient(top, #fff9e8 0%, #d8d9ea 100%);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-bottom: 30px;
}
.konto_promet_odabir_slika_div {
  text-align: center;
  padding-top: 10px;
}
.konto_promet_odabir_slika {
  width: 100px;
  height: 100px;
}
.konto_promet_odabir_slika_text {
  font-size: 14px;
  font-weight: 500;
  color: #49435b;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.konto_promet_odabir_slika_text_iznad {
  font-size: 14px;
  font-weight: 700;
  color: #49435b;
  margin-top: 15px;
  margin-bottom: 15px;
}
.konto_promet_odabir_slika_text_ispod {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #919094;
  margin-bottom: 0px;
  padding-left: 12px;
}

.new_nalog_form {
  padding-top: 10px;
}
.form-control {
  font-size: 13px;
  border: none;
  background-color: transparent;
  height: auto !important;
}
.konto_promet_odabir_form-control {
  padding: 2px;
}
.konto_promet_odabir_input {
  padding-left: 2px;
  border-radius: 2px;
  border: 2px solid #d8d9ea;
  font-size: 13px;
  height: 25px;
  width: 480px;
}
.konto_promet_odabir_input_date {
  width: 130px;
}
.konto_promet_odabir_input_konto_number {
  margin-left: 10px;
}
.konto_promet_odabir_input_error {
  padding-left: 2px;
  border-radius: 2px;
  border: 2px solid rgb(214, 147, 147);
  font-size: 13px;
  height: 25px;
  width: 100px;
}
#loader {
  display: none;
  z-index: 5000;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(224, 224, 224, 0.335);
}
#loader-spinner {
  position: relative;
  top: 40%;
  left: 50%;
  color: #49435b;
  margin-left: -35px;
}
.konto_promet_odabir_horizontal_input_div {
  margin-top: 6px;
}
.konto_promet_odabir_horizontal_input {
  display: inline;
}
.konto_promet_odabir_konto_name {
  padding: 10px;
}
#odabir_konta_start {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
  height: 30px;
}
#odabir_konta_end {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
  height: 30px;
}
.konto_promet_table {
  justify-content: flex-start !important;
  overflow-y: auto;
  padding: 1px;
}
.konto_promet_tbody {
}
.konto_promet_thead {
  margin-top: 30px;
}
.konto_promet_thead_zero {
  margin-top: 0px;
}
table.konto_promet {
  display: contents;
}
.konto_promet_thead tr {
  display: block;
  margin-bottom: 5px;
}
.konto_promet_tbody {
  height: 572px;
  overflow-y: auto;
  display: block;
}
th.konto_promet {
  border-left: 1px solid #7e798c;
  border-right: 1px solid #4e4765;
  border-top: 1px solid #4e4765;
  padding: 6px;
  display: table-cell;
  font-weight: 300;
  background-image: -webkit-linear-gradient(top, #6d687e 0%, #49435b 100%);
  color: white;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
}
th.konto_promet_blank {
  padding: 6px;
  display: table-cell;
}
th.konto_promet_account_name {
  font-weight: 500;
  font-size: 14px;
}
th.konto_promet:nth-child(1) {
  min-width: 100px;
  text-align: center;
}
th.konto_promet:nth-child(2) {
  text-align: center;
  min-width: 50px;
}
th.konto_promet:nth-child(3) {
  text-align: center;
  min-width: 50px;
}
th.konto_promet:nth-child(4) {
  min-width: 325px;
}
th.konto_promet:nth-child(5) {
  min-width: 120px;
}
th.konto_promet:nth-child(6) {
  min-width: 120px;
}
th.konto_promet:nth-child(7) {
  min-width: 120px;
}
td.konto_promet:nth-child(1) {
  text-align: center;
  min-width: 100px;
}
td.konto_promet:nth-child(2) {
  text-align: center;
  min-width: 50px;
}
td.konto_promet:nth-child(3) {
  text-align: center;
  min-width: 50px;
}
td.konto_promet:nth-child(4) {
  text-align: left;
  min-width: 325px;
}
td.konto_promet:nth-child(5) {
  text-align: right;
  min-width: 120px;
}
td.konto_promet:nth-child(6) {
  text-align: right;
  min-width: 120px;
}
td.konto_promet:nth-child(7) {
  text-align: right;
  /*min-width: 101.58px;*/
  min-width: 120px;
  width: auto;
}

th.konto_promet:first-child {
  /*-webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;*/
}
th.konto_promet:last-child {
  /*-webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;*/
}
td.konto_promet {
  border-top: 1px solid #fff !important;
  border-left: 1px solid #dfdce3;
  line-height: 1;
  padding: 4px;
  color: #000;
  border-bottom: 1px solid #ebe9ee;
  font-size: 13px;
}
td.konto_promet:last-child {
  border-right: 1px solid #dfdce3;
}
tr.konto_promet:last-child > td.konto_promet:first-child {
  border-bottom-left-radius: 5px;
}
tr.konto_promet:last-child > td.konto_promet:last-child {
  border-bottom-right-radius: 5px;
}
tr.konto_promet {
  background: #fafafa;
}
td.konto_promet {
  cursor: pointer;
}
tr.konto_promet_zbirni_row {
  border-top: double;
  background: #f6f5f8;
  font-weight: 600;
}
tr.konto_promet_trocifren:nth-child(even) {
  background: #f6f5f8;
}
tr.konto_promet_trocifren:last-child > td {
  border-bottom-width: 1;
}
tr.konto_promet_trocifren:hover,
tr.konto_promet_trocifren:nth-child(even):hover {
  background: #dfdce3;
}
.konto_promet_header_row {
  border: none !important;
  padding: 6px;
  display: table-cell;
  font-weight: 300;
  background-image: none !important;
  color: #402020 !important;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
}
