<% if (infoMessage) { %>
<div id="user-message" class="user-message-div">
  <div class="user-message user-message--info">
    <ul class="user-message-error-list">
      <li><%= infoMessage %></li>
    </ul>
  </div>
</div>
<% } %> <% if (validationErrors.length > 0) { %>
<div id="user-message" class="user-message-div">
  <div class="user-message user-message--error">
    <ul class="user-message-error-list">
      <% validationErrors.forEach(error=>{ %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
</div>
<% } %> <% if (successMessage) { %>
<div id="user-message" class="user-message-div">
  <div class="user-message user-message--success">
    <ul class="user-message-error-list">
      <li><%= successMessage %></li>
    </ul>
  </div>
</div>
<% } %>

<div
  id="table"
  style="margin-left:2px;margin-right:2px;margin-top:0px;margin-bottom:5px;display:inline-block;position:relative"
>
  <div class="dashboard">
    <div class="item-1"></div>

    <div class="item-2"></div>

    <div class="item-3"></div>

    <div class="item-4">
      <p class="text_slike">Clients</p>
      <a class="dashboard_image_icon">
        <img
          src="/images/dashboard/kompanija1.png"
          class="newNalogKomitent"
          width="80"
          height="80"
        />
      </a>
    </div>

    <div class="item-5"></div>

    <div class="item-6"></div>

    <div class="item-7"></div>

    <div class="item-8"></div>

    <div class="item-9"></div>

    <div class="item-10"></div>

    <div class="item-11"></div>

    <div class="item-12">
      <p class="text_slike">Banks</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/bank1.png"
        class="newNalogBanke"
        width="80"
        height="80"
      />
    </div>

    <div class="item-13"></div>

    <div class="item-14"></div>

    <div class="item-15"></div>

    <div class="item-16"></div>

    <div class="item-17">
      <p class="text_slike">VAT</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/pdv1.png"
        class="newNalogPDV not_implemented"
        width="80"
        height="80"
      />
    </div>

    <div class="item-18"></div>

    <div class="item-19"></div>

    <div class="item-20">
      <p class="text_slike">General entry</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/opstinalog1.png"
        class="newNalogOpsti"
        width="80"
        height="80"
      />
    </div>

    <div class="item-21"></div>

    <div class="item-22"></div>

    <div class="item-23">
      <p class="text_slike">Main ledger</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/dnevnik1.png"
        class="dnevnik_slika"
        width="80"
        height="80"
      />
    </div>

    <div class="item-24"></div>

    <div class="item-25"></div>

    <div class="item-26"></div>

    <div class="item-27"></div>

    <div class="item-28"></div>

    <div class="item-29"></div>

    <div class="item-30">
      <p class="text_slike">Wages</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/person1.png"
        class="newNalogZarada not_implemented"
        width="80"
        height="80"
      />
    </div>

    <div class="item-31"></div>

    <div class="item-32"></div>

    <div class="item-33"></div>

    <div class="item-34">
      <p class="text_slike">Invoices</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/faktura1.png"
        class="newNalogFaktura not_implemented"
        width="80"
        height="80"
      />
    </div>

    <div class="item-35"></div>

    <div class="item-36"></div>

    <div class="item-37"></div>

    <div class="item-38">
      <p class="text_slike">Procurment</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/kompanija1.png"
        class="newNalogNabavka not_implemented"
        width="80"
        height="80"
      />
    </div>

    <div class="item-39"></div>

    <div class="item-40"></div>

    <div class="item-41"></div>

    <div class="item-42"></div>

    <div class="item-43"></div>

    <div class="item-44">
      <p class="text_slike">Reports</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/reports1.png"
        class="reports_slika"
        width="80"
        height="80"
      />
    </div>

    <div class="item-45"></div>
  </div>
  <script>
    $(document)
      .off("click", ".dnevnik_slika")
      .on("click", ".dnevnik_slika", function() {
        var me = $(this);
        if (me.data("requestRunning")) {
          return;
        }
        me.data("requestRunning", true);
        $.ajax({
          url: "/dnevnik_naloga",
          type: "GET",
          data: {},
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("div.centar").html(html);
            $("#loader").hide();
          },
          beforeSend: function() {
            $("#loader").show();
          }
        });
      });
    $(document)
      .off("click", ".newNalogKomitent")
      .on("click", ".newNalogKomitent", function() {
        var me = $(this);
        if (me.data("requestRunning")) {
          return;
        }
        me.data("requestRunning", true);
        $.ajax({
          url: "/komitenti",
          type: "GET",
          data: {},
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("div.centar").html(html);
            $("#loader").hide();
          },
          beforeSend: function() {
            $("#loader").show();
          }
        });
      });
    $(document)
      .off("click", ".newNalogBanke")
      .on("click", ".newNalogBanke", function() {
        var me = $(this);
        if (me.data("requestRunning")) {
          return;
        }
        me.data("requestRunning", true);
        $.ajax({
          url: "/banks",
          type: "GET",
          data: {},
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("div.centar").html(html);
            $("#loader").hide();
          },
          beforeSend: function() {
            $("#loader").show();
          }
        });
      });
    $(document)
      .off("click", ".newNalogOpsti")
      .on("click", ".newNalogOpsti", function() {
        var me = $(this);
        if (me.data("requestRunning")) {
          return;
        }
        me.data("requestRunning", true);
        $.ajax({
          url: "/new_nalog",
          type: "GET",
          data: {},
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          error: function(error){
            me.data('requestRunning', false);
            var er = JSON.parse(error.responseText)
            $('#user-message').remove()
            //// onda stavljam nove
            var fail_msg = `<div id="user-message" class="settings_user-message-div_validation">
                                <div class="user-message user-message--info">`
                                  
            
              fail_msg += `${er.msg}`;
            
            fail_msg + `</div></div>`
            $('#validation_message_placeholder').append(fail_msg).fadeIn(500)
            $('#validation_message_placeholder').delay(1500).fadeOut(1500);
            
            $('#loader').fadeOut();
          },
          success: function(html) {
            $("#nalog_placeholder")
              .fadeOut(0)
              .html(html)
              .fadeIn(500);
            $("#loader").fadeOut();
          },
          beforeSend: function() {
            $("#loader").fadeIn(200);
          }
        });
      });
    $(document)
      .off("click", ".not_implemented")
      .on("click", ".not_implemented", function() {
        var me = $(this);
        if (me.data("requestRunning")) {
          return;
        }
        me.data("requestRunning", true);
        $.ajax({
          url: "/not_implemented",
          type: "GET",
          data: {},
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("div.centar")
              .fadeOut(0)
              .html(html)
              .fadeIn(500);
            $("#loader").fadeOut();
          },
          beforeSend: function() {
            $("#loader").fadeIn(200);
          }
        });
      });
    var msgdiv = document.getElementById("user-message");
    var msg = document.getElementsByClassName("user-message");

    if (msg.length > 0) {
      for (i = 0; i < msg.length; i++) {
        let message = msg[i]; // zanimljivo je probati sa msg[i] pa timeout :)
        message.style.opacity = 1;
        message.style.transition = "opacity 1s ease-in-out";
        setTimeout(function() {
          message.style.opacity = "0";
        }, 1800);
        setTimeout(function() {
          message.style.visibility = "hidden";
        }, 3000);
      }
    }
  </script>
</div>
