<link rel="stylesheet" href="/css/tok_dokumentacije.css" />
<div
  id="table"
  style="margin-left:2px;margin-right:2px;margin-top:0px;margin-bottom:5px;display:inline-block;position:relative"
>
  <%# class="table classic borderless" %>

  <div class="dashboard">
    <div class="item-1"></div>

    <div class="item-2"></div>

    <div class="item-3"></div>

    <div class="item-4">
      <p class="text_slike">Komitenti</p>
      <a class="dashboard_image_icon">
        <img
          src="/images/dashboard/kompanija1.png"
          class="newNalogKomitent"
          width="80"
          height="80"
        />
      </a>
    </div>

    <div class="item-5"></div>

    <div class="item-6"></div>

    <div class="item-7"></div>

    <div class="item-8"></div>

    <div class="item-9"></div>

    <div class="item-10"></div>

    <div class="item-11"></div>

    <div class="item-12">
      <p class="text_slike">Banke</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/bank1.png"
        class="newNalogBanke"
        width="80"
        height="80"
      />
    </div>

    <div class="item-13"></div>

    <div class="item-14"></div>

    <div class="item-15"></div>

    <div class="item-16"></div>

    <div class="item-17">
      <p class="text_slike">PDV</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/pdv1.png"
        class="newNalogPDV"
        width="80"
        height="80"
      />
    </div>

    <div class="item-18"></div>

    <div class="item-19"></div>

    <div class="item-20">
      <p class="text_slike">Opšti nalog</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/opstinalog1.png"
        class="newNalogOpsti"
        width="80"
        height="80"
      />
    </div>

    <div class="item-21"></div>

    <div class="item-22"></div>

    <div class="item-23">
      <p class="text_slike">Dnevnik</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/dnevnik1.png"
        class="dnevnik_slika"
        width="80"
        height="80"
      />
    </div>

    <div class="item-24"></div>

    <div class="item-25"></div>

    <div class="item-26"></div>

    <div class="item-27"></div>

    <div class="item-28"></div>

    <div class="item-29"></div>

    <div class="item-30">
      <p class="text_slike">Zarade</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/person1.png"
        class="newNalogZarada"
        width="80"
        height="80"
      />
    </div>

    <div class="item-31"></div>

    <div class="item-32"></div>

    <div class="item-33"></div>

    <div class="item-34">
      <p class="text_slike">Faktura</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/faktura1.png"
        class="newNalogFaktura"
        width="80"
        height="80"
      />
    </div>

    <div class="item-35"></div>

    <div class="item-36"></div>

    <div class="item-37"></div>

    <div class="item-38">
      <p class="text_slike">Nabavka</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/kompanija1.png"
        class="newNalogNabavka"
        width="80"
        height="80"
      />
    </div>

    <div class="item-39"></div>

    <div class="item-40"></div>

    <div class="item-41"></div>

    <div class="item-42"></div>

    <div class="item-43"></div>

    <div class="item-44">
      <p class="text_slike">Izveštaji</p>
      <a class="dashboard_image_icon"></a>
      <img
        src="/images/dashboard/reports1.png"
        class="reports_slika"
        width="80"
        height="80"
      />
    </div>

    <div class="item-45"></div>
  </div>
  <script>
    $(document)
      .off("click", ".dnevnik_slika")
      .on("click", ".dnevnik_slika", function() {
        var me = $(this);
        if (me.data("requestRunning")) {
          return;
        }
        me.data("requestRunning", true);
        $.ajax({
          url: "/dnevnik_naloga",
          type: "GET",
          data: {
          },
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("div.centar").html(html);
            $('#loader').hide();
          },
          beforeSend: function(){
          $('#loader').show();
        }
        });
      });
      $(document)
      .off("click", ".newNalogKomitent")
      .on("click", ".newNalogKomitent", function() {
        var me = $(this);
        if (me.data("requestRunning")) {
          return;
        }
        me.data("requestRunning", true);
        $.ajax({
          url: "/komitenti",
          type: "GET",
          data: {
          },
          dataType: "html",
          complete: function() {
            me.data("requestRunning", false);
          },
          success: function(html) {
            $("div.centar").html(html);
            $('#loader').hide();
          },
          beforeSend: function(){
          $('#loader').show();
        }
        });
      });
  </script>
</div>
